<div class="mt-4">
    <form method="POST" action="">
  <div class="form-group">
    <label for="gender">Từ khóa</label>
    {{!-- <input type="text" name="q"  class="form-control" id="search-input"  placeholder="Nhập từ khóa"> --}}
    <select name="gender" id="gender">
        <option value="">-- Chọn giới tính --</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
        <option value="others">Khác</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>